.aboutSectionWrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: #000000;
	font-family: "Open Sans";
	height: 448px;
	box-sizing: border-box;

	& h2 {
		font-size: 30px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2.25px;
		line-height: 1em;
		margin: 0 0 28px 0;
	}

	& .wrapper {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;

		& .aboutGoals, & .aboutDreams {
			font-size: 22px;
			letter-spacing: 1.1px;
			font-weight: 400;

			& p {
				width: 301px;
				font-size: 0.73em;
				line-height: 1.125em;
				letter-spacing: 0.8px;
				overflow: hidden;
				margin: 0;
			}

			& h3 {
				margin: 0 0 8px 0;
				font-size: 22px;
				letter-spacing: 1.1px;
				font-style: italic;
			}
		}

		& .aboutGoals {
			text-align: right;

		}

		& .aboutAvatar {
			margin: 7px 20px 0px 20px;

		}
	}
}

