header {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: start;
	background-image: url("./images/bg.png");
	max-width: 1280px;
	width: 100%;
	flex-basis: 648px;
	color: #ffffff;
	font-family: "Open Sans";
	box-sizing: border-box;

	& .headerMenu {
		margin: 23.65px 5.78% 0;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-self: stretch;

		@media screen and (max-width: 353px){
			justify-content: center;
			nav { order: 0; }
			.logo { order: 1; }
		}
	
		& .logo {
			flex: 0 0 33px;
			padding-left: 4.14%;
			font-family: Tahoma;
			font-size: 26px;
			line-height: 1em;
			letter-spacing: 0.75px;
		}

		& nav {
			width: 27.5%;
			min-width: 250px;
			
			@media screen and (max-width: 353px){
				width: 100%;
				margin-bottom: 5vw;
			}
			
			& ul {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				list-style: none;
				padding-left: 0;
				line-height: 1.56em;
				margin: 0;
				font-size: 18px;
				letter-spacing: 0.45px;
				
				& li a {
					position: relative;
					color: #ffffff;
					text-decoration: none;
				}
				
				& li a:visited {
					outline: none;
				}
				
				& li a:after {
					position: absolute;
					left: -28%;
					top: 130%;
					content: "";
					height: 2px;
					width: 0%;
					background-color: #ffffff;
					transition: width 0.5s;
				}
				
				& li a:hover:after, a:focus:after {
					width: 156%;
				}	
			}
		}
	}

	& h1, & h2 {
		color: #fefefe;
		text-transform: uppercase;
		line-height: 1em;
		text-align: center;
	}

	& h1 {
		font-size: 60px;
		font-weight: 700;
		letter-spacing: 4.5px;
		margin: 25.86vh 0 4.48vh 0;

		@media screen and (max-width: 323px){
			font-size: 56px;
		}
	}

	& h2 {
		font-size: 30px;
		font-style: italic;
		font-weight: 400;
		letter-spacing: 0.75px;
		line-height: 1em;
		margin: 0;
		padding: 0 1%;
	}
}
